.back-to-top-btn {
    color: white;
    position: fixed;
    bottom: 90px;
    right: 50px;
    border: 0;
    height: 0;
	border: none;
	padding: 0;
}

.up-arrow {
    width: 50px;
}

.back-to-top-btn:hover {
    cursor: pointer;
}